<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0" id="zetech-custom-camera-plugin" version="1.0.2-dev">
    <name>CustomCameraPlugin</name>
    <description>Cordova Custom Camera Plugin</description>
    <license>Apache 2.0</license>
    <keywords>cordova,gallery,phonegap,plugin</keywords>
    <repo>https://github.com/scripthub/CustomCameraPlugin.git</repo>

    <engines>
        <engine name="cordova" version=">=2.11.2" />
    </engines>

    <!-- android -->

    <platform name="android">

        <js-module src="www/CustomCamera.js" name="CustomCameraPlugin">
            <clobbers target="CustomCameraPlugin" />
        </js-module>

        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="CustomCameraPlugin">
                <param name="android-package" value="com.example.acedeno.customcamera.CustomCameraPlugin"/>
            </feature>
        </config-file>

        <config-file target="AndroidManifest.xml" parent="/manifest">
            <uses-permission android:name="android.permission.CAMERA" />
            <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
        </config-file>

        <config-file target="AndroidManifest.xml" parent="/manifest/application">
            <activity android:name="com.example.acedeno.customcamera.CustomCameraActivity"
                      android:exported="true"
                      android:screenOrientation="portrait"
                      android:launchMode="singleTask"
                      android:theme="@style/AppTheme"/>
        </config-file>

        <source-file src="src/android/CustomCameraActivity.java" target-dir="src/com/example/customcameraactivity" />
        <source-file src="src/android/CustomCameraPlugin.java" target-dir="src/com/example/customcameraactivity" />
        <source-file src="src/android/res/values/dimens.xml" target-dir="res/values"/>

        <!-- gradle dependencies -->
        <framework src="com.android.support:design:25.3.1" />
        <framework src="com.android.support:appcompat-v7:25.3.1" />
        <framework src="com.itextpdf:itextg:5.5.10" />

        <!--  drawable src/android/resources -->

        <resource-file src="src/android/res/drawable-hdpi/ic_arrow_right.png" target="res/drawable-hdpi/ic_arrow_right.png" />
        <resource-file src="src/android/res/drawable-mdpi/ic_arrow_right.png" target="res/drawable-mdpi/ic_arrow_right.png" />
        <resource-file src="src/android/res/drawable-xhdpi/ic_arrow_right.png" target="res/drawable-xhdpi/ic_arrow_right.png" />
        <resource-file src="src/android/res/drawable-xxhdpi/ic_arrow_right.png" target="res/drawable-xxhdpi/ic_arrow_right.png" />

        <!--  mipmap src/android/resources -->

        <resource-file src="src/android/res/mipmap-hdpi/ic_camera.png" target="res/mipmap-hdpi/ic_camera.png" />
        <resource-file src="src/android/res/mipmap-mdpi/ic_camera.png" target="res/mipmap-mdpi/ic_camera.png" />
        <resource-file src="src/android/res/mipmap-xhdpi/ic_camera.png" target="res/mipmap-xhdpi/ic_camera.png" />
        <resource-file src="src/android/res/mipmap-xxhdpi/ic_camera.png" target="res/mipmap-xxhdpi/ic_camera.png" />

        <resource-file src="src/android/res/mipmap-hdpi/ic_flash.png" target="res/mipmap-hdpi/ic_flash.png" />
        <resource-file src="src/android/res/mipmap-mdpi/ic_flash.png" target="res/mipmap-mdpi/ic_flash.png" />
        <resource-file src="src/android/res/mipmap-xhdpi/ic_flash.png" target="res/mipmap-xhdpi/ic_flash.png" />
        <resource-file src="src/android/res/mipmap-xxhdpi/ic_flash.png" target="res/mipmap-xxhdpi/ic_flash.png" />

        <resource-file src="src/android/res/mipmap-hdpi/ic_launcher.png" target="res/mipmap-hdpi/ic_launcher.png" />
        <resource-file src="src/android/res/mipmap-mdpi/ic_launcher.png" target="res/mipmap-mdpi/ic_launcher.png" />
        <resource-file src="src/android/res/mipmap-xhdpi/ic_launcher.png" target="res/mipmap-xhdpi/ic_launcher.png" />
        <resource-file src="src/android/res/mipmap-xxhdpi/ic_launcher.png" target="res/mipmap-xxhdpi/ic_launcher.png" />

        <!-- colors     src/android/resources -->
        <resource-file src="src/android/res/values/colors.xml" target="res/values/colors.xml" />

        <!-- styles     src/android/resources -->
        <resource-file src="src/android/res/values/styles.xml" target="res/values/styles.xml" />

        <!-- layout     src/android/resources -->

        <resource-file src="src/android/res/layout/custom.xml" target="res/layout/custom.xml" />
        <resource-file src="src/android/res/layout/main.xml" target="res/layout/main.xml" />

        <!-- plugman cannot merge - prepare manual merge -->
        <config-file target="res/values/strings.xml" parent="/resources">
            <string name="desc">Test Description</string>
        </config-file>

    </platform>
</plugin>